<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:a="http://schemas.android.com/apk/res/android"
          package="net.beeroclock.dbeer"
          a:versionCode="6"
          a:versionName="1.1" a:installLocation="auto">
    <!-- at least 1.6, and hopefully 2.1+ -->
    <uses-sdk a:minSdkVersion="4" a:targetSdkVersion="8"/>
    <application a:label="@string/app_name" a:icon="@drawable/ic_launcher_bf_toplit" a:debuggable="true" a:name=".PintyApp">
        <activity a:name=".activities.BarDetailActivity"/>
        <activity a:name=".activities.AddPricingActivity"/>
        <activity a:name=".activities.MyPreferencesActivity"/>
        <activity a:name=".activities.HiddenBarEditActivity"/>
        <activity a:name=".activities.ActivityGoogleMap" a:theme="@android:style/Theme.NoTitleBar"/>
        <activity a:name="com.google.ads.AdActivity" a:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity a:name=".activities.WhereBeerActivity" a:label="@string/app_name">
            <intent-filter>
                <action a:name="android.intent.action.MAIN"/>
                <category a:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <uses-library a:name="com.google.android.maps" />
    </application>
    <uses-permission a:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission a:name="android.permission.INTERNET"/>
    <uses-permission a:name="android.permission.ACCESS_NETWORK_STATE"/>

</manifest>
